@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f0f0f0;
    color: #000;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
}

body.dark {
    background-color: #cc9292;
    color: #db0c0c;
}

.toggle-button {
    padding: 10px;
    margin: 20px;
    border: none;
    cursor: pointer;
    background-color: #e76666;
    color: rgb(242, 243, 242);
    border-radius: 50%;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

body.dark .toggle-button {
    background-color: #4e1b1b;
}

.mode-icon {
    width: 30px;
    height: 30px;
}
